{# app/Resources/views/blog/index.html.twig #}
{% extends 'Layout/principal.twig' %}

{% block title %}Siex-create{% endblock %}

{% block contenido %}
<h1 class="text-success">hola deivith aca va el form create de principal</h1>

{% endblock %}