{# app/Resources/views/blog/index.html.twig #}
{% extends 'Layout/principal.twig' %}

{% block title %}Siex-Home{% endblock %}
{% block deivith %}
	<h2 class="alert alert-warning">el se llama {{nombre}} y tiene {{id}}</h2>
{% endblock %}